@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


@layer utilities {
    .bg-radial-top-left {
    background-image:
      radial-gradient(ellipse at top left, rgba(70, 15, 158, 0.25) 0%, rgba(70, 15, 158, 0) 100%),
      linear-gradient(#0B0C0F, #0B0C0F); /* acts like solid background */
    background-blend-mode: normal;
    background-repeat: no-repeat;
    background-size: cover;
}
}
.html {
  scroll-behavior: smooth;
}

.history-div:hover .hoverShow{
  display: block;
}